div .inputField {
    display: inline-block;
    width: 320px;
}

div .loginForm {
    display: inline-block;
    background-color: lightgrey;
    margin: 50px;
    border-radius: 25px;
    padding: 20px;
}

h1 {
    color: #17a2b8;
}
  