.registerForm  {
    width: 640px;
    display: inline-block;
}

.checkboxes {
    display: inline-block;
}

input[type=checkbox] {
    width: 30px;
}

#registered {
    display: inline-block;
    width: 500px;
    align-content: center;
}