.alert {
    width: 60px;
}

#okAlert {
    display: inline-block;
    width: 500px;
    align-content: center;
}

table {
    table-layout: fixed;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

td {
    width: 25%;
}